.crew {
  padding: 40px 0;
  background: var(--purple-bg) url("../../assets/crew-bg.svg") no-repeat fixed
    center;
  background-size: cover;
}

.crew p {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
  color: var(--white-text);
}

.crew button {
  background: transparent;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  color: white;
  border: 2px solid var(--white-text);
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  margin: 50px 0;
}

.crew button:hover {
  background: var(--pink-bg);
  border: 2px solid var(--pink-bg);
  color: white;
}

.crew-card-wrapper {
  display: flex;
  justify-content: center;
  border-radius: 15px;
  width: fit-content;
  margin: 30px auto;
  flex-wrap: wrap;
  gap: 20px;
}

.crew-card {
  width: 300px;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 30px;
}

.crew-card:nth-child(2) {
  border-left: 2px solid #ebeaed;
  border-right: 2px solid #ebeaed;
}

.crew-card img {
  width: 160px;
  height: 160px;
}

.crew-card p {
  color: var(--purple-bg);
  font-weight: 600;
  margin-bottom: 0;
}

.crew-card p.position {
  font-size: 14px;
  color: var(--green-bg);
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 0 20px;
}

.crew-card .icon-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.crew-card .icon-wrapper .icon {
  font-size: 20px;
  color: #15143966;
  cursor: pointer;
  transition: 0.5s;
}

.crew-card .icon-wrapper .icon.twitter:hover {
  color: #1a98e8;
}

.crew-card .icon-wrapper .icon.facebook:hover {
  color: #4064ac;
}
.crew-card .icon-wrapper .icon.linkedin:hover {
  color: #0077b5;
}

@media (max-width: 1150px) {
  .crew {
    padding: 40px;
  }
  .crew-card:nth-child(2) {
    border: none;
  }
}

@media (max-width: 426px) {
  .crew {
    padding: 40px;
    background: var(--purple-bg);
  }

  .crew-card-wrapper {
    flex-wrap: wrap;
    margin-bottom: 0;
  }

  .crew-card {
    width: 100%;
  }

  .crew-card:nth-child(2) {
    border-top: 2px solid #ebeaed;
    border-bottom: 2px solid #ebeaed;
    border-left: none;
    border-right: none;
  }

  .crew button {
    margin-bottom: 0;
  }
}
