.info {
  background: var(--purple-bg);
  padding: 40px 0;
}

.info-container {
  display: flex;
  gap: 100px;
  justify-content: center;
  margin: 80px 0;
}

@media (max-width: 426px) {
  .info {
    padding: 40px;
  }

  .info-container {
    flex-wrap: wrap;
    gap: 60px;
    margin: 80px 0 0;
  }
}
