.cardbox {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin: 0 10px;
  width: 400px;
}

.cardbox img {
  cursor: pointer;
}

.cardbox p {
  text-align: left;
  line-height: 25px;
  margin: 10px 0;
}

.cardbox h5 {
  text-align: left;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  font-size: 18px !important;
}

.cardbox p.thin {
  font-weight: 300;
}

@media (max-width: 426px) {
  .cardbox {
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
  }

  .cardbox h5 {
    text-align: center;
    color: white;
  }

  .cardbox img {
    width: 100%;
  }

  .cardbox .text-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
